[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
bs4 = "*"
wget = "*"
click = "*"
lxml = "*"

[requires]
python_version = "3.7"

[dev-packages.nose2]
extras = [ "coverage-plugin",]
